#posts {
  .article-title {
    font-size: 0.95rem;
  }

  .stream-item {
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
  }
}

#projects {
  .article-title {
    font-size: 1rem;
  }

}


#featured {
  .article-title {
    font-size: 1rem;
  }

}

#navbar-content {
  .nav-item {
    font-size: 0.9rem;
  }

}

